# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
*.bz2
*.tar
*.tgz

# Test binary, built with `go test -c`
*.test
covprofile
*.html

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# IDE excludes
.vscode/
.idea/

# Misc
skaffold.yaml